*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
/*Base CV*/
body{
   background: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}
/*Common container*/
 .container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: rgb(234, 238, 236);
    display: grid;
    grid-template-columns: 1fr 2fr;
 }
 /*Left container*/
 .container.leftSide{
    position: relative;
    background: rgb(12, 35, 110);
    padding: 40px;
    
 }
 /*Right container*/
 .container.rightSide{
   position: relative;
   background: rgb(226, 236, 235);
   padding: 40px;
}