*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
/*Base CV*/
body{
   background: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}
/*Common container*/
 .container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(234, 238, 236);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0,.7);
    }
 /*Left container*/
 .container .leftSide{
    position: relative;
    background: rgb(27, 27, 29);
    padding: 40px;
    
 }
 .textprofil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }
 .textprofil .boxIMG{
position: relative;
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
 }
 .textprofil .boxIMG img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
 }
 .textprofil h3{
    color: cornsilk;
    font-size: 1.5em;
    margin-top: 20%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
 }
 .textprofil span{
    font-size: 0.6em;
    font-weight: 300;
 }

 /*Right container*/
 .container .rightSide{
   position: relative;
   background: rgb(210, 223, 223);
   padding: 40px;
}